.wrapper {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 
  min-height: 100vh; /* use min-height instead of height */
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* allow vertical scrolling */
  flex-wrap: wrap;
}
/* Full page container */

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 5px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.sidebar ul li:hover {
  background: #333;
  border-radius: 5px;
}

.school {
  width: 100px;
  height: 100px;
  margin-top: 80px;
  margin-left: 20px;
  object-fit: contain;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-left: 20px;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo left, links right */
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background:white;
  z-index: 100;
  box-sizing: border-box;
}

/* NAVBAR LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-school-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.nav-school-name {
  font-size: 1.2rem;
  font-weight: 600;
}

/* NAVBAR RIGHT USER INFO */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon {
  font-size: 1.8rem;
}

.username {
  font-weight: 500;
}

/* DASHBOARD BODY */
.dashboard-content {
  flex: 1;
  padding: 30px;
}
.sidebar{
  margin-top: 70px;
}